{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="\logo.png">

    <title>{% block title %}PoreD2{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    
</head>
<body class="homepagee">
    <main>
        <nav>
            <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about/">About Us</a></li>
                <li><a href="/app/">App</a></li>
                <li><a href="/contact/">Contact Us</a></li>
            </ul>
        </nav>

    </main>
</body>
</html>
